<main class="principal">
  <h2 class="principal__titulo">Signup datas</h2>

  <form class="principal__formulario" id="formulario" #form="ngForm" (ngSubmit)="signup(form)">

    <h3 class="principal__subtitulo">Personal datas</h3>

    <div class="formulario__campo">
      <label class="campo__etiqueta" for="name">Full Name</label>
      <input name="name" id="name" class="campo__escrita" ngModel #name="ngModel" required
        minlength="{{NAME_MIN_LENGTH}}" />

      <div class="name_errors_texts" *ngIf="name?.touched || name?.dirty">
        <span class="erro__texto" *ngIf="name?.errors?.
        ['required']">Required Field.</span>
        <span class="erro__texto" *ngIf="name?.errors?.
        ['minlength']">Required at leat {{NAME_MIN_LENGTH}} characters.</span>
      </div>

    </div>

    <div class="formulario__dupla">
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="nascimento">Birthday</label>
        <input 
          name="nascimento" 
          id="nascimento" 
          type="date" 
          class="campo__escrita" 
          ngModel
          #birthday="ngModel"
          required
        />

        <div class="name_errors_texts" *ngIf="birthday?.touched || birthday?.dirty">
          <span class="erro__texto" *ngIf="birthday?.errors?.
          ['required']">Required Field.</span>
        </div>

      </div>

      <div class="formulario__campo">
        <label class="campo__etiqueta" for="telephone">Contact</label>
        <input
        name="telephone"
        id="telephone"
        type="tel"
        placeholder="(XX) XXXXX-XXXX"
        ngModel
        #telephone="ngModel"
        class="campo__escrita" 
        required 
        pattern="^\(\d{2}\)\s{1}\d{4,6}-\d{4}$"
      />

        <div class="name_errors_texts" *ngIf="telephone?.touched || telephone?.dirty">
          <span class="erro__texto" *ngIf="telephone?.errors?.
        ['required']">Required Field.</span>
          <span class="erro__texto" *ngIf="telephone?.errors?.
        ['pattern']">This field must follow the "(XX) XXXXX-XXXX" pattern.</span>
        </div>

      </div>
    </div>

    <div class="formulario__campo">

      <label class="campo__etiqueta" for="email">E-mail</label>
      <input name="email" id="email" type="email" class="campo__escrita" ngModel #email="ngModel" required
        pattern="^\w+@\w+\.+\w+\.{0,1}\w+$" />

      <div class="name_errors_texts" *ngIf="email?.touched || email?.dirty">
        <span class="erro__texto" *ngIf="email?.errors?.
        ['required']">Required Field.</span>
        <span class="erro__texto" *ngIf="email?.errors?.
        ['pattern']">This field must follow the "email@domain.com" pattern.</span>
      </div>

    </div>

    <h3 class="principal__subtitulo">Endereço</h3>

    <div class="formulario__campo">
      <label class="campo__etiqueta" for="cep">CEP</label>
      <input name="cep" id="cep" class="campo__escrita" />
      <div id="erro"></div>
    </div>

    <div class="formulario__campo">
      <label class="campo__etiqueta" for="endereco">Endereço</label>
      <input name="endereco" id="endereco" class="campo__escrita" />
    </div>
    <div class="formulario__dupla">
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="numero">Numero</label>
        <input name="numero" id="numero" class="campo__escrita" />
      </div>
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="complemento">Complemento</label>
        <input name="complemento" id="complemento" class="campo__escrita" />
      </div>
    </div>
    <div class="formulario__campo">
      <label class="campo__etiqueta" for="bairro">Bairro</label>
      <input name="bairro" id="bairro" class="campo__escrita" />
    </div>
    <div class="formulario__dupla">
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="cidade">Cidade</label>
        <input name="cidade" id="cidade" class="campo__escrita" />
      </div>

      <div class="formulario__campo">
        <label class="campo__etiqueta" for="estado">UF</label>
        <select id="estado" name="estado" class="campo__escrita">
          <option value="AC">Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AP">Amapá</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espírito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MT">Mato Grosso</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
          <option value="TO">Tocantins</option>
          <option value="EX">Estrangeiro</option>
        </select>
      </div>

    </div>
    <button type="submit" class="formulario__botao">Enviar formulário</button>
  </form>
</main>