<main class="principal">
  <h2 class="principal__titulo">Sign up datas</h2>

  <form class="principal__formulario" id="formulario" #form="ngForm" (ngSubmit)="signup(form)">

    <h3 class="principal__subtitulo">Personal datas</h3>

    <div class="formulario__campo">
      <label class="campo__etiqueta" for="name">Full Name</label>
      <input name="name" id="name" class="campo__escrita" ngModel #name="ngModel" required
        minlength="{{FIELD_MIN_LENGTH}}" />

      <div class="name_errors_texts" *ngIf="name?.touched || name?.dirty">
        <span class="erro__texto" *ngIf="name?.errors?.
        ['required']">Required Field.</span>
        <span class="erro__texto" *ngIf="name?.errors?.
        ['minlength']">Required at leat {{FIELD_MIN_LENGTH}} characters.</span>
      </div>

    </div>

    <div class="formulario__dupla">
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="birthday">Birthday</label>
        <input 
          name="birthday" 
          id="birthday" 
          type="date" 
          class="campo__escrita" 
          ngModel
          #birthday="ngModel"
          required
          legalAgeValidator
        />

        <div class="name_errors_texts" *ngIf="birthday?.touched || birthday?.dirty">
          <span class="erro__texto" *ngIf="birthday?.errors?.
          ['required']">Required Field.</span>
          <span class="erro__texto" *ngIf="birthday?.errors?.
          ['legalAgeValidator']">You must be more than 18 years old.</span>
        </div>

      </div>

      <div class="formulario__campo">
        <label class="campo__etiqueta" for="telephone">Contact</label>
        <input
        name="telephone"
        id="telephone"
        type="tel"
        placeholder="(XX) XXXXX-XXXX"
        ngModel
        #telephone="ngModel"
        class="campo__escrita" 
        required
        minlength="11"
        maxlength="11"
        (keyup)="telMask($event)"
      />

        <div class="name_errors_texts" *ngIf="telephone?.touched || telephone?.dirty">
          <span class="erro__texto" *ngIf="telephone?.errors?.
        ['required']">Required Field.</span>
          <span class="erro__texto" *ngIf="telephone?.errors?.
        ['minlength']">This field must follow the "(00) 00000-0000" pattern.</span>
        </div>

      </div>
    </div>

    <div class="formulario__campo">

      <label class="campo__etiqueta" for="email">E-mail</label>
      <input name="email" id="email" type="email" class="campo__escrita" ngModel #email="ngModel" required
        pattern="^\w+@\w+\.+\w+\.{0,1}\w+$" />

      <div class="name_errors_texts" *ngIf="email?.touched || email?.dirty">
        <span class="erro__texto" *ngIf="email?.errors?.
        ['required']">Required Field.</span>
        <span class="erro__texto" *ngIf="email?.errors?.
        ['pattern']">This field must follow the "email@domain.com" pattern.</span>
      </div>
      

    </div>

    <h3 class="principal__subtitulo">Address</h3>

    <div class="formulario__campo">
      <label class="campo__etiqueta" for="cep">CEP</label>
      <input 
        name="cep" 
        id="cep" 
        class="campo__escrita" 
        ngModel
        #cep="ngModel"
        required
        pattern="^(\d{5})(-?\d{3})$"
        (blur)="getAddress($event, form)"
        minlength="8"
        maxlength="9"
        cepValidator
      />

      <div class="name_errors_texts" *ngIf="cep?.touched || cep?.dirty">
        <span class="erro__texto" *ngIf="cep?.errors?.
      ['required']">Required Field.</span>
        <span class="erro__texto" *ngIf="cep?.errors?.
      ['pattern']">This field must follow the "00000-000" pattern.</span>
      <span class="erro__texto" *ngIf="cep?.errors?.
      ['cepValidator']">No address was found with this cep. Please, try another one.</span>
      </div>

      <div id="erro"></div>
    </div>

    <div class="formulario__campo">
      
      <label class="campo__etiqueta" for="address">Address</label>
      
      <input 
          name="address" 
          id="address" 
          class="campo__escrita" 
          ngModel
          #address="ngModel"
          required
          maxlength="30"
          minlength="3"
        />

        <div class="name_errors_texts" *ngIf="address?.touched || address?.dirty">
          <span class="erro__texto" *ngIf="address?.errors?.
        ['required']">Required Field.</span>
        <span class="erro__texto" *ngIf="address?.errors?.
        ['minlength']">Required at leat {{FIELD_MIN_LENGTH}} characters.</span>
        </div>

    </div>

    <div class="formulario__dupla">

      <div class="formulario__campo">
        
        <label class="campo__etiqueta" for="addressNumber">Address number</label>
        
        <input 
        name="addressNumber" 
        id="addressNumber"
        type="number"
        class="campo__escrita" 
        ngModel
        #addressNumber="ngModel"
        required
        />

        <div class="name_errors_texts" *ngIf="addressNumber?.touched || addressNumber?.dirty">
          <span class="erro__texto" *ngIf="addressNumber?.errors?.
        ['required']">Required Field.</span>
        </div>

      </div>

      <div class="formulario__campo">
        <label class="campo__etiqueta" for="complemento">Complement</label>
        <input name="complemento" id="complemento" class="campo__escrita" />
      </div>

    </div>

    <div class="formulario__campo">

      <label class="campo__etiqueta" for="neighbor">Neighborhood</label>

      <input 
      name="neighbor" 
      id="neighbor" 
      class="campo__escrita" 
      ngModel
      #neighbor="ngModel"
      required
      minlength="{{FIELD_MIN_LENGTH}}"
      />

      <div class="name_errors_texts" *ngIf="neighbor?.touched || neighbor?.dirty">
        <span class="erro__texto" *ngIf="neighbor?.errors?.
      ['required']">Required Field.</span>
      <span class="erro__texto" *ngIf="neighbor?.errors?.
      ['minlength']">Required at leat {{FIELD_MIN_LENGTH}} characters.</span>
      </div>

    </div>

    <div class="formulario__dupla">

      <div class="formulario__campo">

        <label class="campo__etiqueta" for="city">City</label>

        <input 
        name="city" 
        id="city" 
        class="campo__escrita" 
        ngModel
        #city="ngModel"
        required
        minlength="{{FIELD_MIN_LENGTH}}"
        />

        <div class="name_errors_texts" *ngIf="city?.touched || city?.dirty">
          <span class="erro__texto" *ngIf="city?.errors?.
        ['required']">Required Field.</span>
        <span class="erro__texto" *ngIf="city?.errors?.
        ['minlength']">Required at leat {{FIELD_MIN_LENGTH}} characters.</span>
        </div>

      </div>

      <div class="formulario__campo">
        <label class="campo__etiqueta" for="state">UF</label>
        <select id="state" name="state" class="campo__escrita" ngModel #state>
          <option value="AC">Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AP">Amapá</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espírito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MT">Mato Grosso</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
          <option value="TO">Tocantins</option>
          <option value="EX">Estrangeiro</option>
        </select>

      </div>

    </div>

    <button type="submit" class="formulario__botao">Sign up</button>

  </form>
</main>